@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@font-face {
  font-family: 'KnewaveOutlineRegular';
  src: url('fonts/knewave-outline-webfont.eot');
  src: url('fonts/knewave-outline-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/knewave-outline-webfont.woff') format('woff'),
    url('fonts/knewave-outline-webfont.ttf') format('truetype'),
    url('fonts/knewave-outline-webfont.svg#KnewaveOutlineRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #3cf136;
}

svg {
  fill: rgb(240, 255, 240);
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('media/ep_naturalblack.png');
  color: var(--text-color);
}

section {
  margin: auto;
  width: 90vmin;
}

.sectionHeader {
  margin: 0 10vmin 0 0;
}

/* section */
#header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 5px 0;
  width: 100%;
  height: auto;
  letter-spacing: 7px;
  font-size: 50px;
  font-family: 'KnewaveOutlineRegular';
}

#title {
  margin: 15px;
  font-size: 5vmax;
}

#contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto 0 auto;
  height: 100%;
  font-family: 'Inconsolata', monospace;
}

#about,
#skills,
#projects {
  padding: 5px 15px;
  background-color: #1e1f2566;
  font-family: 'Inconsolata', monospace;
}

/* section */
#about {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

/* section */
#skills {
  display: flex;
  margin: 15px auto;
  height: 6.5%;
}

#skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

#skillsContainer > svg {
  height: 20%;
  transform: scale(4);
}

/* section */
#projects {
  display: flex;
  margin: 0 auto;
  height: 43%;
}

#projectsContainer {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#projectsContainer::-webkit-scrollbar {
  display: none;
}

.project {
  margin: 0 0 20px 0;
}

.project h3,
p {
  margin: 0 0 5px 0;
}

.project a {
  font-size: 13px;
  text-decoration: none;
  color: var(--text-color);
}

/* section */
#contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 50px auto 0 auto;
}

#contactIconsContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  width: 245px;
}

#contactIconsContainer svg {
  margin: 0 15px;
  width: 30px;
  height: 30px;
}

/* Content: #projects */
@media only screen and (max-width: 900px) {
  #projects,
  #skills {
    margin-top: 15px;
  }

  .sectionHeader {
    padding-bottom: 12.5px;
  }

  #projects {
    flex-wrap: wrap;
  }

  #projectsContainer {
    height: 100%;
    overflow: auto;
  }
}
