@font-face {
    font-family: 'kaushan-script';
    src: url('fonts/kaushan-script_regular.eot');
    src: url('fonts/kaushan-script_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/kaushan-script_regular.woff') format('woff'),
         url('fonts/kaushan-script_regular.ttf') format('truetype'),
         url('fonts/kaushan-script_regular.svg#kaushan-script') format('svg');

    font-family: 'KnewaveRegular';
    src: url('fonts/knewave-webfont.eot');
    src: url('fonts/knewave-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/knewave-webfont.woff') format('woff'),
         url('fonts/knewave-webfont.ttf') format('truetype'),
         url('fonts/knewave-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

    font-family: 'KnewaveOutlineRegular';
    src: url('fonts/knewave-outline-webfont.eot');
    src: url('fonts/knewave-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/knewave-outline-webfont.woff') format('woff'),
         url('fonts/knewave-outline-webfont.ttf') format('truetype'),
         url('fonts/knewave-outline-webfont.svg#KnewaveOutlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('media/ep_naturalblack.png');
    background-repeat: repeat;
    color: pink;
}

a{
    text-decoration: none;
    color: pink;
}

h1{
    margin: 15px;
    font-size: 95px;
}

section:focus{
    outline: none;
}

#title{
    font-family: 'KnewaveOutlineRegular';
    font-size: 50px;
    letter-spacing: 7px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0 0 5px 0;
}

#projects{
    display: flex;
    width: 900px;
    height: 50%;
    margin: 0 auto;
    background-color: rgb(18, 19, 26);
}

#design{
    height: 100%;
    width: 50%;
}

#projectsContainer{
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

#projectsContainer::-webkit-scrollbar { 
    display: none;
}

#about{
    display: flex;
    justify-content: center;
}

#contact{
    display: flex;
    justify-content: center;
}

#iconsContainer{
    display: flex;
    justify-content: space-evenly;
    width: 245px;
    margin-top: 50px;
}

/* Content: #projects */
@media only screen and (max-width: 900px) {
    h1{
        margin: auto;
        font-size: 45px;
    }
    
    #projects{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }

    #design{
        height: 30%;
        width: 100%;
    }

    #projectsContainer{
        overflow: overlay;
        height: 70%;
    }
}
  

/*Mobile*/
@media only screen and (max-width: 415px) {

}
  
/*Tablet*/
@media only screen and (min-width: 416px) and (max-width: 960px) {

}

/*Desktop*/
@media only screen and (min-width: 961px) {

}